* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
  background-color: #efeff9;
    font-family: "Urbanist", sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }





.experience {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85vh; /* Mantener altura de experiencia */
    padding: 0 10%;
    margin-top: -20px; /* Ajusta este valor para controlar el espaciado entre el video y la experiencia */
    background-color: #d9e1f0;
    position: relative; /* Importante para posicionar elementos hijos */
}

.content {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content h1 {
    font-size: 3.5rem;
    color: #333;
    margin-bottom: 10px;
}

.content p {
    font-size: 1.6rem;
    font-weight: lighter;
    color: #4E86F3;
    margin-bottom: 20px;
}


.donate-img {
    width: 150px; /* Ajusta el tamaño según lo necesario */
    height: auto;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
    margin-top: 90px;
    margin-left: 150px;
}

.donate-img:hover {
    transform: scale(1.1); /* Aumenta el tamaño en un 10% al pasar el cursor */
}

.image {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 40%;
    height: auto;
}
.image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding-right: 120px;
}


