* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
    background-color: #f3f3f3;
    font-family: "Urbanist", sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  
  /*----------Navbar section----------*/
  .navbar {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 0px 40px;
  }
  
  .navbar .logo img {
    height: 68px;
    width: 70px;
  }
  

  .navbar .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #222f48;
    border-radius: 30px;
    height: 50px;
    padding: 0 1rem;
    position: absolute; /* Centrado relativo al navbar */
    left: 50%;
    transform: translateX(-50%);
  }
  
  .navbar a {
    text-decoration: none;
    color: #f9f8f2;
    width: 180px;
    height: 30px;
    line-height: 70px;
    border-radius: 20px;
    background-color: #334568;

    font-size: 1rem;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    z-index: 2; /* Asegura que el enlace esté sobre cualquier pseudo-elemento */
    transition: all 0.3s ease-in-out; 
  }
  
  .navbar a:hover {
    color: #e8e8e8;
    background-color: #3f4f6e;
    box-shadow: 0px 4px 4px #0d0d6d;
    transition: ease-in-out;
  }
  
  .navbar li {
    list-style: none;
    position: relative;
  }
  
  /* Elimina el pseudo-elemento ::before que interfería */
  .navbar li::before {
    content: none;
  }
  
  .usr_img {
    width: 180px;
    height: 60px;
    border-radius: 50%;
    padding: 0 10px;
    position: relative; /* Cambiado de 'fixed' a 'relative' para que se alinee correctamente con los otros elementos */
    transition: transform 0.2s ease-in-out
  }

  .usr_img:hover {
    transform: scale(1.05); /* Aumenta el tamaño en un 10% al pasar el cursor */
}
  
  /* Video fondo seccion 1 */
  .cont_video {
    position: relative; /* Cambiado a relative */
    width: 100%;
    height: 103vh; /* Ajusta la altura para que ocupe toda la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    
    overflow: hidden; 
    z-index: 1;
  }
  
  .back-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .cont_video h1 {
    position: absolute;
    color: #ffffff;
    font-size: 68px; 
    text-align: center;
    z-index: 2; 
    margin: 0;
    padding: 0 20px;
    top: 25%;
    font-family: "Wallpoet", sans-serif;
    font-weight: 400;
  }
  
  .cont_video::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    
    z-index: 2;
  }
  
  
  /* Sección 2 */
  .sect2 {
    position: relative;
    height: 50vh;
    width: 100%;
    background-color: #ffffff;
    color: #262D34;
    overflow: hidden;
  }

  .slider input {
    visibility: hidden;
    display: none;
  }

  .buttons {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 50px;
    gap: 10px;
  }

  .buttons label {
    width: 20px;
    height: 20px;
    background-color: #232B47;
    border-radius: 14px;
    opacity: 0.5;
    cursor: pointer;
    z-index: 1;
    transition: 300ms ease-in-out;
  }

  .buttons label:hover {
    transform: scale(1.2);
    opacity: 1;
  }

  .slider input:nth-child(1):checked ~ .buttons label:nth-child(1),
  .slider input:nth-child(2):checked ~ .buttons label:nth-child(2),
  .slider input:nth-child(3):checked ~ .buttons label:nth-child(3) {
    opacity: 1;
    transform: scale(1.2);
    width: 40px;
  }

  .content_slider {
    position: relative;
    width: 300vw;
    display: flex;
    transition: 400ms ease-in-out;
  }

  .firstsld, .secndsld, .trdsld {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column; /* Alineación vertical */
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 20px; /* Espacio alrededor del contenido */
    text-align: center;
  }

  .firstsld h1, .secndsld h1, .trdsld h1 {
    font-size: 3rem;
    margin-bottom: 20px; /* Espacio entre el h1 y el párrafo */
    align-items: center;
    top: 10%;
  }

  .firstsld p, .secndsld p, .trdsld p {
    font-size: 1.2rem;
    line-height: 1.5; /* Mejora la legibilidad */
    padding: 0 60px 0 60px;
  }

  .slider input:nth-child(1):checked ~ .content_slider {
    left: 0;
  }

  .slider input:nth-child(2):checked ~ .content_slider {
    left: -100vw;
  }

  .slider input:nth-child(3):checked ~ .content_slider {
    left: -200vw;
  }

  .slider h1 {
    font-size: 5rem;
  }

  /*Section 3 Estadisticas*/

  .statistics {
    display: flex;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    text-align: center; 
    padding: 20px;
    top: 65%;
    z-index: 3;
}

.stat-item {
    color: #ffffff; 
    margin: 0 15px;
    position: relative; /* Añadido para posicionar el ícono */
}

.stat-item h2 {
    font-size: 3rem; 
    margin-bottom: 60px;
    transition: all 0.5s ease-in-out;
    position: relative; /* Añadido para ajustar el espacio */
    top: 50px; /* Mueve el número hacia abajo 50px */
}

.stat-item i {
    font-size: 3rem; /* Tamaño del ícono */
    color: #ffffff;
    position: absolute; /* Hace que el ícono esté en relación al .stat-item */
    top: -50px; /* Mueve el ícono 50px arriba del número */
    left: 50%; /* Centra el ícono horizontalmente */
    transform: translateX(-50%); /* Ajusta el centrado */
}

.stat-item p {
    font-size: 1.2rem; 
    margin-top: 10px;
    line-height: 30px;
}



/*Section 4 Values*/
.valores {
    height: 82vh;
    text-align: center;
    padding: 30px 0px;
    background-color: #f3f3f3;
    color: #262D34;
} 
.val_font {
    height: 75vh;
    width: 100%;
    margin: 0 auto;

border-radius: 16px;

    border-radius: 64px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que la imagen esté en la parte inferior */
    align-items: center;
}


.valores h2, .paragraph {
    text-align: center;
}


.valores h2 {
    margin-top: 70px;
    top: 20%;
    font-size: 2.5rem;
    margin-bottom: 50px;
}
.paragraph {
    margin-bottom: 90px;
    padding: 0px;
    padding: 0px 200px;
}
.valores-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.valor-item {
    max-width: 350px;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 40px;
}

.valor-item h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.valor-item p {
    font-size: 1rem;
    color: #262D34;
}

@media (max-width: 768px) {
    .valores-grid {
        flex-direction: column;
        align-items: center;
    }
}


/* Sección 4 */
.sect4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 65vh;
    background-color: #000;
    justify-content: center;
    align-items: center;
    border-radius: 46px;
    color: #ffff;
    text-align: center;
    position: relative;
}

.carousel {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-slide {
    min-width: 100%;
    position: relative;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100%;
    height: auto;
    border-radius: 46px;
}

.carousel-text {
    position: absolute;
    bottom: 250px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;

    font-size: 1.2rem;
    line-height: 1.5; 
 /* Ajusta el padding para tener espacio a los lados */
    text-align: center; /* Centra el texto */
    text-justify: auto;
}

.carousel-buttons {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.carousel-buttons .dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #b8b8b8;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.carousel-buttons .dot.active {
    background-color: #FCF9F9;
}


/*Parallax*/

.parallax {
    height: 130vh;
    width: 100%;
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3; /* Cambiar si es necesario */
}

.parallax h1 {
    text-align: center;
    color: #0B237A;
    font-size: 10vw;
    font-family: "Wallpoet", sans-serif;
    font-weight: 400;
    z-index: 1;
    position: relative;
    margin: 0;
}

.parallax-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 30%; /* Ajusta el tamaño según sea necesario */
    z-index: 2;
}

.donate-button {
    width: 250px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: 80px; /* Ajusta según sea necesario */
    padding: 10px 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    cursor: pointer;
    transition: transform 0.2s ease-in-out
}


  .donate-button:hover {
    transform: translate(-50%, -50%) scale(1.05); /* Aumenta el tamaño en un 10% al pasar el cursor */
}